
@{
    ViewBag.Title = "Chào mừng đến với 1 buổi nghỉ không phép";
}

<h2>Minh Ngô desu~</h2>
<hr/>
<h3>Hiển thị dữ liệu lấy từ Action trong Controllers</h3>
<h4>FullName: @ViewBag.fullname</h4>
<h4>Ngày Sinh: @ViewData["Ngày sinh"]</h4>
<h4>Email: @TempData["Email"]</h4>

